<form method="post" action="result">
    <h4>Please fill the form to register!</h4>
    <p>First Name:</p>
    <input type="text" name="FirstName" />
    <p>Last Name:</p>
    <input type="text" name="LastName" />
    <p>Email:</p>
    <input type="email" name="Email" />
    <p>Phone Number:</p>
    <input type="number" name="PhoneNumber" />
    <p>Password:</p>
    <input type="password" name="Password" />
  

    <input type="submit" />
</form>